Java Fundamentals/*.class
Programming Elements/Level_1/*.class
Programming Elements/Level_2/*.class
Control Flow Statements/*.class
Arrays/*.class
Methods/*.class
Strings/*.class
Built_In_Functions/*.class

// Eclipse files
/bin/
.classpath
.project
.settings
org.eclipse.ltk.core.refactoring.prefs
